//Imports Sass Utilities
@import "variables";
@import "mixins";

//Imports Layout Structure
@import "menu-top";
@import "menu-left";
@import "article";
@import "footer";

//Imports Components
@import "button";

body {
    background:  url(../img/interface/page-background.jpg) 0 0 repeat #f9f7ec;
    position: relative;
    min-height:100%; 
}
header { background: $primary-black; }
section { margin-top: 50px;}

.titulo1 {
    font: 1.7em "Lato", sans-serif;
    border-bottom: 1px solid #ffc731;
    display: table-cell;

    &:after {
        content: "";
        width: 60px;
        height: 5px;
        display: block;
        background: #ffc731;
        margin-top: 10px;
    }
}

.titulo2 {
    display: table-cell;
    border-bottom: 1px solid #ffc731;
    color: #ffc731 !important;
    font: 1.5em "Lato", sans-serif;
}

.titulo3 {
    color: $branco;
    font: 1.3rem "Lato", sans-serif;
}

.goblin {
    margin-top: -100px;
}