<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kold - Aonde a Aventura Começa</title>

    <!-- Project Css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome Css-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>
<body>

    <!-- menu-left body overlay -->
    <div class="overlay"></div> 
    <nav class="menu-hide">

        <div class="menu-left container d-flex flex-column">

            <a class="menu-left-logo" href="#">
                <img src="/img/interface/menu-left-logo.png" alt="Logo do cenário de campanha de Kold" title="Kold, um mundo de aventuras"
                     srcset="/img/interface/menu-left-logo.png 1x,
                             /img/interface/menu-left-logo-r.png 2x">
            </a>

            <form>
                    
                <div class="input-group">
                    
                    <input class="input-busca" type="text" placeholder="Buscar...">
                    <button class="btn-busca" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>

                </div>

            </form>

            <ul class="list-group">
                <li class="list-group-item justify-content-between"><a href="#">Histórias</a></li>
                <li class="list-group-item justify-content-between"><a href="#">Raças</a></li>
                <li class="list-group-item justify-content-between"><a href="#">Regiões</a></li>
                <li class="list-group-item justify-content-between"><a href="#">Organizações</a></li>
                <li class="list-group-item justify-content-between"><a href="#">Personagens</a></li>
            </ul>

        </div>
        
    </nav>
    
    <header class="container-fluid">
       
        <nav class="container no-padding">
            
            <div class="d-flex justify-content-between align-items-center flex-wrap">

                <div class="menu-trigger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div>
                    <a class="" href="#"><img src="/img/interface/logo-small.png" alt="Logo do cenário de campanha de Kold" title="Kold, um mundo de aventuras"></a>
                </div>

                <a href="#" class="login-mobile">Login</a>

                <div class="itens-menu">
                    <a class="" href="#">Histórias</a>
                    <a class="" href="#">Raças</a>
                    <a class="" href="#">Regiões</a>
                    <a class="" href="#">Organizações</a>
                    <a class="" href="#">Personagens</a>
                </div>

                <form class="form-busca">
                
                    <div class="input-group">
                        
                        <input class="input-busca input-hide" type="text" placeholder="Buscar...">
                        <button class="btn-busca btn-show" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>

                    </div>

                </form>

                <a href="#" class="login-desktop">Login</a>

            </div>

        </nav>
        
    </header>
     
    <div class="container-fluid banner-top">
        
        <div class="container banner-caption no-padding">
            
            <div class="caption">
            
                <h2 class="titulo2">Bem vindo, Aventureiro</h2>

                <p>Conheça o cenário de Kold, um mundo vasto e cheio de aventuras. Viaje pelos seus continentes, conheça as histórias de cada reino, navegue pelo mar de ugri, se sobreviver, um destino ainda mais difícil o aguarda em Arsil, lar das tribos de lendários guerreiros bárbaros.</p>

                <p><a href="#">Ver mais...</a></p>

            </div>

        </div>
        
    </div>
     
    <main class="container">
        
        <div class="d-flex flex-column">

            <section class="row">
                
                <article class="col">
                    
                    <img src="img/interface/article-01-bg.png" alt="">

                    <div class="banner-caption-left">
                        <h1 class="text-uppercase titulo1">Um mundo forjado pela guerra</h1>
                        <p>Quando os deuses da criação e da destruição se enfrentam em  batalha, o choque de seus poderes alteram toda as estruturas dos planos, criando, modificando e destruindo tudo o que existe...</p>

                        <button type="button" class="button"><a href="#">Ver mais</a></button>
                    </div>
                                    
                </article>

            </section>

            <section class="row">

                <article class="col">

                    <img src="img/interface/article-02.png" alt="">

                    <div class="banner-caption-right">
                        <h1 class="text-uppercase titulo1">Aonde as aventuras acontecem</h1>
                        <p>Se aventure pelas terras do grande império, conheça as grandes cidades anãs do reino de Drum`mar, conheça suas riquezas e glórias ou navegue pelo mar sangrento em direção a Arsil, o continente dos bárbaros...</p>

                        <button type="button" class="button"><a href="#">Ver mais</a></button>
                    </div>                

                </article>

            </section>

            <section class="row">

                <article class="col">

                    <img src="img/interface/article-03.png" alt="">
                    
                    <div class="banner-caption-left">
                        <h1 class="text-uppercase titulo1">Conheça as raças de Kold</h1>
                        <p>Veja como vivem seres das mais diferentes raças vivem em Kold, desde os humanos no império até a raça de seres vindos dos planos mais distantes da existência...</p>

                        <button type="button" class="button"><a href="#">Ver mais</a></button>
                    </div>

                </article>

            </section>

        </div>

    </main>
    
    
    <footer>

        <section class="container">

            <div class="d-flex flex-wrap justify-content-between">

                <div class="col text-center">
                    <img src="img/interface/logo-footer.png" alt="">
                </div>
                
                <div class="col">
                    
                    <!--<img class="float-left header-divider" src="img/interface/divisor.png" alt="">-->
                    <ul class="links">    
                        
                        <h3 class="titulo3">Links Úteis</h3>

                        <li class="">> Sobre</li>
                        <li class="">> Histórias</li>
                        <li class="">> Regiões</li>
                        <li class="">> Organizações</li>
                        <li class="">> Personagens</li>

                    </ul>

                </div>

                <div class="col">
                    <!--<img class="float-left header-divider" src="img/interface/divisor.png" alt="">-->
                    <h3 class="titulo3">Siga-nos</h3>
                    <img src="img/interface/facebook-icon.png" alt="Logo do Facebook">
                </div>

                <div class="col goblin">
                    <img class="" src="img/interface/goblin.png" alt="Imagem de um goblin segurando um d20">
                </div>
        </div>
        
        </section>

        <div class="container-fluid mt-3">
                
            <div class="copyright">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017</div>

        </div>
        
    </footer>


    <script src="/js/functions.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>