article {
    
    //background: #dadac7;
   
    
    margin: 15px;
    position: relative;

    img {
        @include border-radius(2px);
        @include drop-shadow;
        border: solid 1px $branco;
        display: block;
        width: 100%;
        height: auto;
        cursor: default;
    }

    // img.float-left {
    //     margin: -50px 0 0 -15px;
    // }
    
    // img.float-right {
    //     margin: -50px -15px 0 0;
    // }

    p {
        font: 1em "Open Sans", sans-serif;
        color: #4d4949;
        margin: 30px 0;
    }

    button {
        margin-bottom: 30px;
    }
}

@media (min-width: 769px) {
    .banner-caption-left {
        position: absolute;
        top: 15%;
        right: 40%;
        left: 40px;
    }

    .banner-caption-right {
        position: absolute;
        top: 15%;
        left: 45%;
        right: 30px;
        width: auto;
    }
}
@media (max-width: 768px) {
    article {
        @include border-radius(2px);
        @include drop-shadow;
        border: solid 1px $branco;
        background: url("../img/interface/banner-bg.png") repeat-y;;
        padding: 50px 0 0 0;

        img {
            display: none;
        }
        button {
            width: 100%;
        }
    }
}