.itens-menu {   
    a {
        color: #fff;
        margin: 0 15px;
    }
}

.input-busca, .btn-busca {
    border: solid 1px #3f3f3f;
    background: #282727;
}

.input-busca {
    @include border-radius(3px);
    height: 35px;
    padding: 0 60px 0 30px;
    
    &:placeholder-shown {
        font: italic 900 12px 'Open Sans', sans-serif;
        color: #fff;
    }
}
.input-hide {
    transition: all .2s linear;
}

.btn-busca {
    @include border-radius(3px);
    color: #403e3e;
    height: 35px;
    padding: 0 10px;
    cursor: pointer;
}

.login-mobile { color: #fff; }
.login-desktop {
    padding: 18px 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
}

.banner-top {
    padding: 0;
    background: $preto url($img-dir + "banner-01.jpg") center no-repeat;
    height: 530px;
    display: flex
}
.banner-caption {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.caption {
    padding: 30px 50px 0 50px;
    background: rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.3);
    
    p {
        color: $branco;
        margin: 30px 0;

        a {
            text-align: right;
            color: $branco;
            font-style: italic;
        }
    }
}